# Google Drive for Desktop upload staging folder
.tmp.driveupload/

/legacy/Parcel analysis and layouts.atbx
other-tools/.ipynb_checkpoints/Check map and layout names-checkpoint.ipynb
qgis-tools/dummy data/Image_catalog.cpg
qgis-tools/dummy data/Image_catalog.dbf
qgis-tools/dummy data/Image_catalog.prj
qgis-tools/dummy data/Image_catalog.sbn
qgis-tools/dummy data/Image_catalog.sbx
qgis-tools/dummy data/Image_catalog.shp
qgis-tools/dummy data/Image_catalog.shp.xml
qgis-tools/dummy data/Image_catalog.shx
qgis-tools/dummy data/Γεωτεμάχιο.cpg
qgis-tools/dummy data/Γεωτεμάχιο.dbf
qgis-tools/dummy data/Γεωτεμάχιο.prj
qgis-tools/dummy data/Γεωτεμάχιο.qix
qgis-tools/dummy data/Γεωτεμάχιο.shp
qgis-tools/dummy data/Γεωτεμάχιο.shp.xml
qgis-tools/dummy data/Γεωτεμάχιο.shx
